@model List<quizweb.ViewModels.RankingListViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Ranking</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().TotalScore)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var user in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.TotalScore)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@user.Username">Edit</a> |
                <a asp-action="Details" asp-route-id="@user.Username">Details</a> |
                <a asp-action="Delete" asp-route-id="@user.Username">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
