@model quizweb.ViewModels.QuestionSet.PlayQuestionSetViewModel;
@{
    ViewBag.Title = "Play Quiz";
}

<h2>Play Quiz: @Model.QSetName</h2>
<h3>Description: @Model.Description</h3>
<h3>Level: @Model.LevelName</h3>
<h3>Category: @Model.CategoryName</h3>
<h3>By: @Model.AuthorName</h3>

<form asp-action="Play" method="post">
    <input type="hidden" name="QSetId" value="@Model.QSetId" />
    <input type="hidden" name="QSetName" value="@Model.QSetName" />

    @for (int i = 0; i < Model.Questions.Count; i++)
    {
        var q = Model.Questions[i];

        <div>
            <input type="hidden" name="UserAnswers[@i].QuestionId" value="@q.QuestionId" />
            <div class="QuestionText">Question: @q.QuestionText</div>
            <div class="Options">

                @for (int j = 0; j < q.Answers.Count; j++)
                {
                    var a = q.Answers[j];
                    var inputId = $"question_{q.QuestionId}_answer_{a.AnswerId}";


                    <div>
                        <input type="radio" id="@inputId" name="UserAnswers[@i].SelectedAnswerId" value="@a.AnswerId" class="answer-radio" required/>
                        <label asp-for="@a.AnswerText">
                            @a.AnswerText
                        </label>
                        <br />
                    </div>
                }
            </div>
        </div>
    }

    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>


</form>
